<section class="products section-offset">
  <div class="container">
    <h2 class="section-title products__title">Продукция</h2>

    <ul class="list-reset products__list grid">
      <li class="products__item">
        <div class="products-card">
          <img src="img/products-1.png" alt="Сигнализатор уровня" width="200" loading="lazy" class="products-card__image">

          <h3 class="products-card__title">Сигнализатор уровня</h3>

          <a href="" class="products-card__link">
            Подробнее
            <svg>
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="products__item">
        <div class="products-card">
          <img src="img/products-2.png" alt="Датчики давления" width="200" loading="lazy" class="products-card__image">

          <h3 class="products-card__title">Датчики давления</h3>

          <a href="" class="products-card__link">
            Подробнее
            <svg>
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="products__item">
        <div class="products-card">
          <img src="img/products-3.png" alt="ПИД-регуляторы" width="200" loading="lazy" class="products-card__image">

          <h3 class="products-card__title">ПИД-регуляторы</h3>

          <a href="" class="products-card__link">
            Подробнее
            <svg>
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="products__item">
        <div class="products-card">
          <img src="img/products-4.png" alt="Калибратор давления" width="200" loading="lazy" class="products-card__image">

          <h3 class="products-card__title">Калибратор давления</h3>

          <a href="" class="products-card__link">
            Подробнее
            <svg>
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="products__item">
        <div class="products-card">
          <img src="img/products-5.png" alt="Корректор расхода газа" width="200" loading="lazy" class="products-card__image">

          <h3 class="products-card__title">Корректор расхода газа</h3>

          <a href="" class="products-card__link">
            Подробнее
            <svg>
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="products__item">
        <div class="products-card">
          <img src="img/products-6.png" alt="Манометры" width="200" loading="lazy" class="products-card__image">

          <h3 class="products-card__title">Манометры</h3>

          <a href="" class="products-card__link">
            Подробнее
            <svg>
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
